zipcodeCallout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>calloutAction</name>
        <label>calloutAction</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <actionName>getZipCodeInfo.zipCodeInfo</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Callout_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Country_Code</name>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Zip_Code</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getZipCodeInfo.zipCodeInfo</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>To_pass_the_apex_response</name>
        <label>To pass the apex response</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>createZipCodeRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_the_response_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apex_Exception_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonInputs</name>
            <value>
                <elementReference>ResponseString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createZipCodeRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Response_Assignment</name>
        <label>Response Assignment</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponseJson</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResponseString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_response_string_is_not_null</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Country</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United States</stringValue>
        </value>
    </constants>
    <constants>
        <name>StatusCode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>200.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>TestFields</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_if_response_string_is_not_null</name>
        <label>Check if response string is not null</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Callout_Exception_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_check_if_response_string_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseJson</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_pass_the_apex_response</targetReference>
            </connector>
            <label>To check if response string is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calloutAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatusCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Assignment</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_response_is_not_null</name>
        <label>If the response is not null</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_check_if_the_response_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_pass_the_apex_response.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>To_pass_the_apex_response.country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Us_Screen</targetReference>
            </connector>
            <label>To check if the response is not null</label>
        </rules>
        <rules>
            <name>To_check_if_country_is_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_pass_the_apex_response.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>To_pass_the_apex_response.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_US</targetReference>
            </connector>
            <label>To check if country is US</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>zipcodeCallout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zipcodeCallout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Callout_Exception_screen</name>
        <label>Callout Exception screen</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalloutExceptionMessage</name>
            <fieldText>&lt;p&gt;{!calloutAction.defaultExc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Country_US</name>
        <label>Country US</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Country_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;em&gt;When the Country is United States&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryUS</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Country: &lt;/strong&gt;{!To_pass_the_apex_response.country}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Code: &lt;/strong&gt;{!To_pass_the_apex_response.countryAbbreviation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Postal Code: &lt;/strong&gt;{!To_pass_the_apex_response.postCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Places:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!To_pass_the_apex_response.placesFormatted}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Us_Screen</name>
        <label>Non-Us Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Country_notUs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;em&gt;When Country is: {!To_pass_the_apex_response.country}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllData</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Country: &lt;/strong&gt;{!To_pass_the_apex_response.country}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Code: &lt;/strong&gt;{!To_pass_the_apex_response.countryAbbreviation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Postal Code: &lt;/strong&gt;{!To_pass_the_apex_response.postCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Places:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!To_pass_the_apex_response.placesFormatted}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>calloutAction</targetReference>
        </connector>
        <fields>
            <name>Country_Code</name>
            <dataType>String</dataType>
            <fieldText>Country Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Get Zip Code Details</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Apex_Exception_Log</name>
        <label>Apex Exception Log</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <flowName>Exception_Log_Creation</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Callout_Exception</name>
        <label>Create Callout Exception</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <flowName>Exception_Log_Creation</flowName>
        <inputAssignments>
            <name>ComponentName</name>
            <value>
                <elementReference>calloutAction.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ApexWrapperResponse</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!To_pass_the_apex_response}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ResponseString</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!calloutAction.2XX}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>exception</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowResponse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ZipCodeInfo__c</objectType>
    </variables>
    <variables>
        <name>PlaceCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseJson</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tree</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ZipCodeInfo__c</objectType>
    </variables>
</Flow>
